// site fonts: 
$headingFont: "Roboto";
$bodyFont: "Lora Medium";

// site colours:

$primary: black;
$secondary: #f8d50c;
$tertiary: #F8F4F3;
$quaternary: grey;
$quinery: #F7E4DC;
$senary: #DB9999;
$septenary:  #14241b;
$octal: #efffdb;

